{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static "Treant.css" %}">
<link rel="stylesheet" href="{% static "rules.css" %}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title>{{ name }} - Rules</title>
</head>
<body>
<h1 align="center"> {{ name }} - Rules</h1>
<br>
{% if response %}
<b>{{ response }}</b>
{% endif %}
<form action="{{formaction}}" method=POST>
    {% csrf_token %}
    <tr><td><b>Matchfield:</b> </td>
        <td> <input type="text" size=5 name="matchfield"/></td></tr>
    <tr><td><b>Operator:</b> </td>
        <td><select name="operator">
            <option> EQ </option>
            <option> GE </option>
            <option> GT </option>
            <option> LE </option>
            <option> LT </option>
            <option> RE </option>
			</select>
    <tr><td><b>Value:</b> </td>
        <td> <input type="text" size=5 name="value"/></td></tr>
    <tr><td><b>Negated:</b> </td>
        <td><select name="negated">
					<option> False </option>
					<option> True </option>
			</select>
    <tr><td><b>Case Insensitive:</b> </td>
        <td><select name="caseinsens">
					<option> False </option>
					<option> True </option>
			</select>
	<tr><td><b>Path:</b></td>
        		<td><select name="path">
				<option value="">Select A Path</option>
				{% for leaf in leaves %}
                    <option> {{ leaf }}</option>
				{% endfor %}
			</select>
     <input type="submit" name="submit" value="SetMatch"/>
</form>
<form action="{{formaction}}" method=POST>
    {% csrf_token %}
<tr><td><b>Matchfield:</b> </td>
        <td> <input type="text" size=5 name="matchfield"/></td></tr>
    <tr><td><b>Operator:</b> </td>
        <td><select name="operator">
            <option> EQ </option>
            <option> GE </option>
            <option> GT </option>
            <option> LE </option>
            <option> LT </option>
            <option> RE </option>
			</select>
    <tr><td><b>Value:</b> </td>
        <td> <input type="text" size=5 name="value"/></td></tr>
    <tr><td><b>Negated:</b> </td>
        <td><select name="negated">
					<option> False </option>
					<option> True </option>
			</select>
    <tr><td><b>Case Insensitive:</b> </td>
        <td><select name="caseinsens">
					<option> False </option>
					<option> True </option>
			</select>
    <tr><td><b>Connector:</b> </td>
		<td><select name="connector">
				<option value="">Select A Connector</option>
					<option> OR </option>
                    <option> AND </option>
			</select>
	<tr><td><b>Path:</b></td>
        		<td><select name="path">
				<option value="">Select A Path</option>
				{% for leaf in leaves %}
                    <option> {{ leaf }}</option>
				{% endfor %}
			</select>
     <input type="submit" name="submit" value="CombineMatch"/>
</form>
<form action="{{formaction}}" method=POST>
    {% csrf_token %}
	<tr><td><b>Path:</b></td>
        		<td><select name="path">
				<option value="" aria-disabled="true">Select A Path</option>
				{% for leaf in leaves %}
                    <option> {{ leaf }}</option>
				{% endfor %}
			</select>
     <input type="submit" name="submit" value="DelMatch"/>
</form>
</body>
<body>

</body>
<body>
<div class="rules" id="rules">
</div>
<script src="{% static "vendor/raphael.js" %}"></script>
<script src="{% static "Treant.js" %}"></script>
<script type='text/javascript'>
    function convertRules(rules){
        var ns = {};
        ns.text = {name: String(rules.value)};
        if (rules.left || rules.right){
            ns.children = [];
            ns.children.push(convertRules(rules.left));
            ns.children.push(convertRules(rules.right));
        }
        return ns;
    }

    var simple_chart_config = {
	chart: {
		container: "#rules",
		scrollbar: "fancy"
	}};
    simple_chart_config.nodeStructure = convertRules({{ rules|safe }});
    new Treant( simple_chart_config );
</script>
</body>
<br>
<a href="/">Main page</a>
</html>
